
    <% layout('/layouts/boilerplate')%>
    <h1 class="mb-5 text-center">Explore and Launch Initiatives!</h1>
    <p class="card-text">Initiatives are specific calls to action.</p>
    <div id="cluster-map">
    </div>
    <div>
        <a href="initiatives/new"><button class="m-1 mt-3 btn btn-primary">Add a initiative</button></a>
        <button class="m-1 mt-3 btn btn-dark">Filter</button>
        <button class="m-1 mt-3 btn btn-secondary">Search</button>
    </div>
    <div class="">
    <ul>
        <% for (let initiative of initiatives) {%>
                <div class="card mt-5 mb-3">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">PH<%= initiative.title %></h5>
                                <p class="card-text text-muted">
                                    <%= initiative.location %>
                                </p>
                                <a href="/initiatives/<%= initiative._id%>" class="btn btn-primary">View <%= initiative.title%></a>
                            </div>
                        </div>
                    </div>
                </div>
        <% } %>
    </ul>
    </div> 
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const initiatives = {features: <%- JSON.stringify(initiatives) %>}
    </script>

    <script src="/javascripts/clusterMap.js"></script>