
<div class="row">
  <div class="col-6">
      <div class="card mb-5">
        <h1 class="card-title m-3"><%= group.title%></h1>
          <div class="card-body">
            <p class="card-text"><%= group.description%></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><b>Location: </b><%= group.location %></li>
            <li class="list-group-item"><b>Led by: </b><%= group.creator.username %> </li>
            <li class="list-group-item"><b>Offerings:</b> <%= group.offerings %></li>
            <li class="list-group-item"><b>Needs:</b> <%= group.needs %></li>
          </ul>
          <% if( currentUser && group.creator.equals(currentUser._id) ) { %> 
          <div class="card-body">
            <a href="/groups/<%= group._id%>/edit" class="card-link btn btn-info">Edit</a>
            <form class="d-inline" action="/groups/<%= group._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">
                  Delete
              </button>
              </form>
          </div>
          <% } %> 
          <a href="/groups" class="card-link btn btn-primary">Return to All</a>
      </div>

  </div>
  <div class="col-6">
  <div id='map'>
  </div>
  <% if(currentUser){ %> 
    <h2>Launch an Initiative:</h2>
    <form class="mb-3 to-validate" action="/groups/<%=group._id%>/initiatives" method="POST" novalidate>
        <div class="mb-3">
          <label class="form-label" for="description">Initiatives</label>
          <textarea class="form-control" name="initiative[description]" id="body" cols="30" rows="3" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <button class="btn-success">
          Submit
        </button>
    </form>
    <div class="card mb-5"></div>
    <% for(let initiative of group.initiatives) { %>
    <div class="card mb-2">
      <div class="card-body">
        <p class="card-subtitle"><b>Author: </b><%= initiative.creator.username %></p>
        <p class="card-text"><b>initiative: </b><%= initiative.description %></p>
        <!-- <% if( currentUser && initiative.creator.equals(currentUser._id) ) { %>  -->
        <form action="/groups/<%=group._id%>/initiatives/<%=initiative._id%>?_method=DELETE" method="POST">
          <button class="btn-sm btn-danger">Delete</button>
        </form>
        <!-- <% } %>  -->
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
</div>

<script>
const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
const group = <%-JSON.stringify(group)%> 
</script>

<script src="/javascripts/showPageMap.js"></script>