<% layout('/layouts/boilerplate')%>
<div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= group.title%></h1>
    <div class="row">
    <div class="card-body col-4">
        <div id="groupCarousel" class="carousel slide my-3" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% group.images.forEach((img, i) => { %> 
            <div class="carousel-item <%=  i === 0 ? 'active' : ''%>">
              <img src="<%= img.url%> " class="d-block w-100" alt="">
            </div>
            <%  }) %> 
          </div>
          <% if(group.images.length > 1) { %> 
          <button class="carousel-control-prev" type="button" data-bs-target="#groupCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#groupCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <% } %> 
        </div>
        <div class="card-body">
          <% if( currentUser && group.creator.equals(currentUser._id) ) { %> 
          <a href="/groups/<%= group._id%>/edit" class="card-link btn btn-info">Edit</a>
          <form class="d-inline" action="/groups/<%= group._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">
                Delete
            </button>
            </form>
            <a href="/groups" class="card-link btn btn-primary">Return to All</a>
          <% } %>
    <!-- THIS IF STATEMENT IS NOT WORKING -->
          <!-- <% if( group.members.includes('currentUser.name') ) { %>
            <form class="d-inline" action="/groups/<%= group._id%>/leave?_method=DELETE" method="POST">
              <button class="btn btn-danger">
                  Leave
              </button>
            </form>
          <% } else { %>
            <form class="d-inline" action="/groups/<%= group._id%>/join" method="POST">
              <button class="btn btn-danger">
                  Join
              </button>
            </form>
          <% } %> -->
        </div>
        <!-- <div class="my-3" id='map'>
        </div> -->
    </div>
    <div class="card-body col-8">
            <div class="card-body">
              <p class="card-text"><%= group.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><b>Location: </b><%= group.location %></li>
              <li class="list-group-item"><b>Led by: </b><a href="/users/<%= group.creator.id %>"><%= group.creator.name %></a></li>
              <li class="list-group-item"><b>Contact: </b><%= group.contact %></p>
              <li class="list-group-item"><b>Link: <a href="<%= group.url %>" target="blank"></b><%= group.urlName %></a></p>
              <li class="list-group-item"><b>Offerings: </b> <%= group.offerings %></li>
              <li class="list-group-item"><b>Needs: </b> <%= group.needs %></li>
            </ul>

           
            <!-- <div class="card-body">
              <p><b>Members:</b></p>
              <% for(let member of group.members){ %>
                <li class="list-group-item"><a href="/users/<%= member.id %>"><%= member.name%></a></li>
              <% } %> 

            </div> -->
    </div>
    </div>
  </div>
</div>
<div class="card my-5">
  <h2 class="card-title m-4">Calls to Action:</h2>
    <div class="card-body">
      <% for(let call of group.calls) { %>
        <div class="card card-body mb-2">
          <br>
          <div class="card-body">
            <h3 class="card-title"><%= call.name %></h3>
            <p class="card-text"><%= call.description %></p>
            <p class="card-text"><b>Location: </b><%= call.location %></p>
            <p class="card-text"><b>Time: </b><%= call.time %></p>
            <p class="card-text"><b>Contact: </b><%= call.contact %></p>
            <p class="card-text"><b>Link: <a href="<%= call.url %>" target="blank"></b><%= call.urlName %></a></p>
            <% if( currentUser && group.creator.equals(currentUser._id) ) { %> 
            <a href="/groups/<%= group._id%>/calls/<%= call._id%>/edit" class="card-link btn btn-info">Edit</a>
            <form action="/groups/<%=group._id%>/calls/<%=call._id%>?_method=DELETE" method="POST">
              <button class="btn-sm btn-danger">Delete</button>
            </form>
            <% } %>
          </div>
        </div>
        <% } %>
    </div>
  </div>
  <% if( currentUser && group.creator.equals(currentUser._id) ) { %> 
  <div class="card my-5">
    <div class="row card-body">
      <div class="">
        <h2>Create a Call to Action:</h2>
        <form class="form-group to-validate" action="/groups/<%=group._id%>/calls" method="POST" novalidate>
              <label for="name">Name:</label>
              <input class="form-control" type="text" id="name" name="call[name]" required>
              <label class="form-label" for="description">Description:</label>
              <textarea class="form-control" name="call[description]" id="description" cols="" rows="3" required></textarea>
              <label for="location">Location:</label>
              <input class="form-control" type="text" id="location" name="call[location]">
              <label for="time">Time:</label>
              <input class="form-control" type="text" id="time" name="call[time]">
              <label for="Contact">Contact - if people want to participate, who should they get in touch with and how?</label>
              <input class="form-control" type="text" id="contact" name="call[contact]">
              <label for="url">Website URL - please include "https://":</label>
              <input class="form-control" type="text" id="url" name="call[url]">
              <label for="urlName">Website Name:</label>
              <input class="form-control" type="text" id="urlName" name="call[urlName]">  
              <div class="valid-feedback">
                Looks good!
              </div>
            <button class="btn-success">
              Create
            </button>
        </form>

      </div>
  </div>
</div>
<% } %>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const group = <%-JSON.stringify(group)%> 
</script>

<script src="/javascripts/showPageMap.js"></script>
