<% layout('/layouts/boilerplate')%>

    <h1 class="mb-5 text-center">Connect with Other Users</h1>
    <div id="cluster-map-users">
    </div>
    <div>
        <button class="m-1 mt-3 btn btn-dark">Filter</button>
        <button class="m-1 mt-3 btn btn-secondary">Search</button>
    </div>
            <% for (let user of users) {%>
                <div class="card mt-5 mb-3">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 mt-3 mb-3 p-4">
                            <div class="row">
                                <!-- <h4 class="card-title"><%= user.username  %> </h4> -->
                                <h5 class="card-title"><%= user.name  %> </h5>
                            </div>
                            <div class="row">
                                <div class="">
                                    <% if(user.images.length) { %> 
                                   <img class="img-fluid" src="<%= user.images[0].url%>" alt=""> 
                                    <% }else {%> 
                                    <img class="img-fluid" src="" alt="">
                                    <% } %> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 mt-3 mb-3">
                            <p class="card-text"><b>Location: </b><%= user.location  %> </p>
                            <p class="card-text"><b>Bio: </b><%= user.bio.substring(0,300) %></p>
                            <p class="card-text"><b>Offering: </b><%= user.offerings  %> </p>
                            <p class="card-text"><b>Needs: </b><%= user.needs  %> </p>
                            <a href="/users/<%= user._id%>" class="btn btn-primary">View <%= user.name%>'s Profile</a>
                        </div>
                        <div class="col-md-4 col-sm-4 mt-3 mb-3 p-4">
                            <p class="card-text"><b>Groups: </b><% for(let group of user.groups){ %>
                                <li class="list-group-item"><a href="/groups/<%= group.id%>"><%= group.title%></a></li>
                              <% } %></p>
                            <p class="card-text"><b>Initiatives: </b><% for(let initiative of user.initiatives){ %>
                                <li class="list-group-item"><a href="/initiatives/<%= initiative.id%>"><%= initiative.title%></a></li>
                              <% } %> </p>
                        </div>
                    </div>
                </div>
            <% } %>  



<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const users = {features: <%- JSON.stringify(users) %>}
</script>

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<script src="/javascripts/clusterMapUsers.js"></script>

